.contenitore-click{
  display: flex;
  justify-content: center;
  height: 30px;
}

.culo{
  display: flex;
  justify-content: center;
  font-family: "Homemade Apple", cursive;
  font-size: 40px;
  margin-bottom: -15px;
}

