<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="home">
      <img src="../assets/images/icona-cibando.png" class="logo" alt="logo cibando">
      <span>Cibando</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed=!isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed" >
      <ul class="navbar-nav" style = "width: 100%;">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">
            <fa-icon [icon]="iconaHome"></fa-icon>
            Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ricette">
            <fa-icon [icon]="iconaScheda"></fa-icon>
            Ricette</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contatti">
            <fa-icon [icon]="iconaMail"></fa-icon>
            Contatti</a>
        </li>
        <li class="nav-item" *ngIf="!authService.isLogged()" style="margin: auto;">
          <a class="nav-link" (click)="open(modaleDue)">
            <i class="pi pi-user"></i>
            Accedi</a>
        </li>
        <!-- <li class="nav-item" *ngIf="authService.isLogged()">
            <a class="nav-link" style="float: left; margin-top: 5px;"><i class="pi pi-user"></i> <span class="name">Ciao {{user.name}}</span></a>
            <a style="margin-top: 10px;" href="#" (click)="logout()"><p style="float:left;margin-top: 12px;margin-bottom: -20px; color: darkorange;font-weight: 800;">ESCI</p></a>
            <a class="nav-link" routerLink="AggiungiRicetta" *ngIf="user.role=='admin'" style="float:right">
              <fa-icon [icon]="iconaAggiungiRicetta"></fa-icon>
              Aggiungi Ricetta</a>
        </li> -->
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="authService.isLogged()">
          <a class="nav-link" style="float: left; margin-top: 5px;"> <span class="name" style="float:left">Ciao {{user.name}}</span></a>
          <a class="nav-link" style="float: left; margin-top: 5px;" href="profilo"><i class="pi pi-user" style="float:left;" ></i> <span class="name" style="float:left">profilo</span></a>
          <!-- <a href="profilo"> profilo</a> -->
          <!-- <a style="margin-top: 10px;" (click)="logout()"><p style="float:left;margin-top: 12px;margin-bottom: -20px; color: darkorange;font-weight: 800;">ESCI</p></a> -->
          <a style="margin-top: 10px;" (click)="open(modaleUno)"><p style="float:left;margin-top: 12px;margin-bottom: -20px; color: darkorange;font-weight: 800;">ESCI</p></a>
          <!-- <a style="margin-top: 10px;" (click)="open(modaleDue)"><p style="float:left;margin-top: 12px;margin-bottom: -20px; color: darkorange;font-weight: 800;">ESCI-DUE</p></a> -->
        </li>
        <li>
          <a class="nav-link" routerLink="AggiungiRicetta" *ngIf="user?.role=='admin'" style="float:right">
            <fa-icon [icon]="iconaAggiungiRicetta"></fa-icon>
            Aggiungi Ricetta</a>
        </li>
      </ul>
        <!-- <li class="nav-item" style="margin-left:40px">
          <div>
          <a class="nav-link" routerLink="AggiungiRicetta">
            <fa-icon [icon]="iconaAggiungiRicetta"></fa-icon>
            Aggiungi Ricetta</a>
          </div>
        </li> -->
        <li class="nav-item" style="margin-left: auto;" id="barra-di-ricerca">
          <a class="nav-link">
            <input type="text" style="border-radius: 5px; border:none; float:left"  [(ngModel)]="msg" >
          </a>
        </li>
        <li style="margin-right: 20px;" id="icona-ricerca">
          <a class="nav-link" style="width: 40px;height: 40px;border: solid;border-radius: 20px;padding-top: 6px;padding-right: 6px;" (click)="prendiTesto()" >
            <i class="pi pi-search" style="margin-left: 1px;"></i>
          </a>
        </li>

      </ul>
    </div>
  </nav>
</header>

<ng-template #modaleUno let-modal>
  <div class="modal-header">
    HEADER <button type="button" class="btn-close" aria-label="close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    Sei sicuro di voler effettuare il logout?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" (click)="modal.dismiss()">ANNULLA</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()" ngbAutoFocus>LOGOUT</button>
  </div>
</ng-template>

<ng-template #modaleDue let-modal>
  <div class="modal-header">
    HEADER <button type="button" class="btn-close" aria-label="close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <app-login (chiudi)="chiudiModale($event)"></app-login>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" (click)="modal.dismiss()">ANNULLA</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()" ngbAutoFocus>AZIONE</button>
  </div>
</ng-template>
