.contenitore{
  display:flex;
  width: 50%;
  margin: 5%;
  justify-content: center;
  border: 3px solid #8e210b;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 71px;
  background-color: lightgrey;
  flex-direction:column;
  position: relative;
    z-index: 10;

}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.form-group{
  width:90%;
  margin-top:20px;
}

.input-group {
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 90%;
}

.form-check{
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-primary {
  background-color:#8e210b;
  border-color: #8e210b;
  width: 20%;
  align-self: center;
  margin-bottom: 40px;
}
.input-group-text{
  height: 100%;
}
.h1{
  text-align: center;
  color:#8e210b;
  font-family: "Homemade Apple", cursive;
  font-size: 30px;
  margin-top: 40px;
}
.carousel-control-next-icon {
  background-image: null;
}
.gigacontenitore{
 background-image: url("https://www.tokyoupdates.metro.tokyo.lg.jp/en/assets_c/2022/02/1_iStock-957855466-thumb-1600x900---2954.jpg");
}
