.img-fluid{
  margin-top: -19px;
  width: 100%;
  max-height:400px;
  object-fit: cover;
  padding-bottom: 10px;
}

.h1{
  padding-top: 15px;
  padding-left: 20px;
  color: #8e210b ;
  font-weight: bold;
  font-size: larger;
}

.text-justify{
  padding-top: 10px;
  padding-left: 20px;
  font-size: 15px;
  color: #828583;
}

.h6{
  padding-left: 85%;
  font-weight: lighter;
  color: #828583;
}

.h5{
  font-weight: bold;
  padding-left: 20px;
}

.difficolta{
  width: 160px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  float:left;
}

.errore{
  display: flex;
  width: max-content;
  height: 400px;
  align-content: space-around;
  flex-wrap: wrap;
  margin-left: 500px;
  font-weight: 900;
}
