.errore{
  display:flex;
}

.error-text{
    display: flex;
    width: max-content;
    height: 400px;
    align-content: space-around;
    flex-wrap: wrap;
    margin-left: 600px;
    font-weight: 900;
}
