<div class="container-cards">
  <div class="card"  *ngFor="let recipe of recipes">
    <div class="card-image" [ngStyle]=" {'background-image': 'url('+recipe.image+')'}" (click)="inviaTitolo(recipe.title)"></div>
    <div class="card-body">
      <h5 class="card-title">{{recipe.title}}</h5>
      <p class="card-text">{{recipe.description | slice: 0 :250}}...</p>
      <div class="cont-difficolta">
        <h6 style="float:left;">Difficoltà:</h6>
        <img class="difficolta" [src]="percorsoDifficolta + recipe?.difficulty + '.png'" alt="difficoltà">
      </div>
      <!-- <a routerLink="/ricette/dettaglio/{{recipe.title}}/{{recipe._id}}" class="btn btn-primary" style="float: left;" >Visualizza</a> -->
      <!--    [routerLink]="'dettaglio/'+recipe.title+'/'+recipe.id"-->
    </div>
    <a routerLink="/ricette/dettaglio/{{recipe.title}}/{{recipe._id}}" class="btn btn-primary" style="border-top-left-radius: 0px;
    border-top-right-radius: 0px;" >Visualizza</a>
  </div>
</div>
<!-- <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->
